@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main class="page-content">
    <div class="breadcrumb-title pe-3" style="display:flex; justify-content:space-between; align-items:center">
        Report
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4">
        <div class="col">
            <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div>
                            <p>Total Orders</p>
                            <h4 id="report-total-orders"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div>
                            <p>Total Campaigns</p>
                            <h4 id="report-total-campaigns"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div>
                            <p>Total Revenue</p>
                            <h4 id="report-total-revenue"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div>
                            <p>Total Customers</p>
                            <h4 id="report-total-customers"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div id="emails-sent-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div id="rfm-piechart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="card-body">
                <div id="revenue-chart"></div>
            </div>
        </div>
    </div>
</main>

@section Script {
    <script src="/js/report/rfm-chart.js"></script>
    <script src="/js/report/revenue.js"></script>
    <script src="/js/report/emails-sent.js"></script>
    <script>
        $.ajax({
            url: `@Url.Action("GetTotalCustomers", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                if (result == -1) {
                    toastr_call('error', 'Error', 'Some errors occurred');
                }
                else {
                    $('#report-total-customers').html(result);
                }
            }
        });

        $.ajax({
            url: `@Url.Action("GetTotalOrders", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                if (result == -1) {
                    toastr_call('error', 'Error', 'Some errors occurred');
                }
                else {
                    $('#report-total-orders').html(result);
                }
            }
        });

        $.ajax({
            url: `@Url.Action("GetRedisValue", "Campaign")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                if (!result.isSuccessful) {
                    toastr_call('error', 'Error', result.message);
                }
                else {
                    var obj = result.data;
                    $('#report-total-campaigns').html(obj.totalCreated);
                }
            }
        })

        $.ajax({
            url: `@Url.Action("GetTotalRevenue", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                if (result == -1) {
                    toastr_call('error', 'Error', 'Some errors occurred');
                }
                else {
                    $('#report-total-revenue').html(result);
                }
            }
        });

        $.ajax({
            url: `@Url.Action("GetRFMScores", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                loadPieChart(result);
            }
        })

        $.ajax({
            url: `@Url.Action("GetRevenue", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                loadRevenueChart(result);
            }
        })

        $.ajax({
            url: `@Url.Action("GetEmailsSent", "Report")?websiteId=${localStorage.getItem('@Common.Constant.CookiesName.CURRENT_WEBSITE')}`,
            type: 'get',
            success: (result) => {
                loadEmailsSentChart(result);
            }
        })
    </script>
}